*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container {

  background: url("../../public/images/bg2.png") center center no-repeat;
  background-size: cover;

  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: y mandatory;

  section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;

    &:nth-of-type(1) {
      background: rgba(47, 40, 63, 0.36);
      display: flex;
      align-items: center;
      color: white;
    }
    &:nth-of-type(2) {
      background: #F9F9F9;
      color: red;
    }
    &:nth-of-type(3) {
      background: gray;
      color: black;
    }

    .presentation {
      margin-left: 80px;
      width: 45%;

      h1 {
        font-size: 3em;
        margin-bottom: 23px;
      }
      p {
        font-size: 19px;
        margin-bottom: 33px;
      }

      .btn-contact {
        padding: 13px 23px;
        background: #7dc5f5;
        border-radius: 6px;
        font-size: 17px;
        color: white;
        text-decoration: none;

        &:hover {
          background: #a186b5;
        }
      }
    }
  }
}

.competence {
  padding: 50px 0;
  width: 43%;
  border: 2px solid red;

  h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  .competence-items {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .competence-items-card {
      margin: 9px 19px;
    }
    .item {
      font-size: 60px;
      color: #615E87;
    }

    .item-name {
      font-size: 10px;
      color: #918EB8;
    }
  }
}

.competences-card {
  border: 5px solid green;

  .competence-title {
    font-size: 2.4em;
    margin: 32px 29px;
  }

  .competence-content {
    border: 5px solid pink;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }
  .competence {
    width: 45%;
    border: 5px solid green;
    padding: 0 50px;
    display: flex;
    align-items: center;

    h3 {
      font-size: 1.5em;
      color: red;
      border-radius: 9px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .items {
      span {
        border:1px solid #A892B8;
        padding: 10px 15px;
        font-size: 17px;
        background: #2F283F;
        border-radius: 9px;
      }
    }

  }
  .competence-img {
    width: 45%;
    border: 5px solid green;

    img {
      width:100%;
      height:100%;
    }
  }
}