* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background: url("../../public/images/bg2.png") center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: y mandatory;
}
.container h1 {
  font-size: 3em;
  margin-bottom: 23px;
}
.container p {
  font-size: 19px;
  margin-bottom: 33px;
}
.container section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.container section:nth-of-type(1) {
  background: rgba(1, 1, 1, 0.59);
  display: flex;
  align-items: center;
  color: white;
}
.container section:nth-of-type(2) {
  background: #F9F9F9;
  color: red;
}
.container section:nth-of-type(3) {
  background-color: #032145;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
.container section:nth-of-type(4) {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
.container .presentation {
  margin-left: 80px;
  width: 55%;
}
.container .presentation h1 {
  font-size: 3em;
  margin-bottom: 23px;
}
.container .presentation p {
  font-size: 19px;
  margin-bottom: 33px;
}
.container .presentation .btn-contact {
  padding: 13px 23px;
  background: #7dc5f5;
  border-radius: 6px;
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.container .presentation .btn-contact:hover {
  background: #a186b5;
}
.container .competences-card {
  border: 1px solid white;
}
.container .competences-card .competence-content {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.container .competences-card .competence {
  width: 45%;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.container .competences-card .competence h3 {
  font-size: 1.5em;
  color: red;
  border-radius: 9px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.container .competences-card .competence .items-card span {
  border: 1px solid #A892B8;
  padding: 10px 15px;
  font-size: 17px;
  background: #2F283F;
  border-radius: 9px;
}
.container .competences-card .competence .items-card .item {
  display: flex;
  flex-wrap: wrap;
}
.container .competences-card .competence .items-card .item span {
  margin: 5px 3px;
  border: 1px solid #A892B8;
  padding: 10px 15px;
  font-size: 17px;
  background: #2F283F;
  border-radius: 9px;
}
.container .competences-card .competence-img {
  width: 45%;
}
.container .competences-card .competence-img img {
  width: 100%;
  height: 100%;
}
.container .project-card {
  color: red;
  width: 80%;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .project-card #left,
.container .project-card #right {
  font-size: 50px;
  color: white;
  position: absolute;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  transition: 0.5s ease;
  user-select: none;
}
.container .project-card #right {
  right: 40px;
}
.container .project-card #left {
  left: 40px;
}
.container .project-card #left:hover,
.container .project-card #right:hover {
  color: #eeebeb;
}
.container .project-card .text {
  color: red;
  font-size: 19px;
  position: absolute;
  text-align: center;
  bottom: 50px;
  width: 100%;
}
.container .project-card .project-item {
  width: 50%;
  height: 90%;
}
.container .project-card .project-item .mySlide {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}
.container .project-card .project-item .mySlide img {
  width: 100%;
  height: 100%;
}
.container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.container .allProjects {
  background-color: red;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 19px;
  border-radius: 8px;
}
@media screen and (max-width: 482px) {
  .container {
    background-color: green;
  }
  .container .presentation {
    margin: 0 auto;
    width: 90%;
  }
  .container .competences-card .competence {
    width: 90%;
    margin: 0 auto;
  }
  .container .competences-card .competence-img {
    display: none;
  }
}
.container form {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 60px;
  margin: 12px auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.container form > div {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align: center;
}
.container form > input,
.container form > select,
.container form > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 1px solid #ccc;
  color: #1a1919;
  background-color: #dbd8d8;
  border-radius: 4px;
  display: block;
  width: 50vw;
}
.container form > textarea {
  height: 100px;
  resize: none;
}
.container form > input[type=submit] {
  max-width: 15vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}
.container form > input[type=submit]:hover {
  background-color: #354731;
}

/*# sourceMappingURL=other.css.map */
